@import "./fonts.css";

:root {
  --background-color: #0c0c0c;
  --foreground-color: #050505;
  --primary-color: #ff5733;
  --secondary-color: #ff7153;
  --warning-color: #ffe126;
  --gray-color: #c1c1c1;
  --text-color: #ffffff;
}

body {
  height: 100%;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
small,
label,
b,
i {
  color: var(--text-color);
  font-family: "Roboto";
}
