.topic {
  font-size: 1.7em;
  margin-bottom: 1em;
}

.topic b {
  color: var(--warning-color);
}

.topic span {
  font-family: "Roboto Bold";
}

@media screen and (max-width: 850px) {
  .topic {
    text-align: center;
  }

  .topic b {
    display: none;
  }

  .topic span {
    text-decoration: underline;
    text-decoration-color: var(--warning-color);
  }
}
