.card {
  background-color: var(--foreground-color);
  margin-bottom: 1em;
  display: flex;
  border-radius: 0.3em;
  cursor: pointer;
  text-decoration: none;
  transition-duration: 0.2s;
}

.card:hover {
  scale: 1.03;
  transition-duration: 0.2s;
}

.card__image {
  height: 100px;
  border-top-left-radius: 0.3em;
  border-bottom-left-radius: 0.3em;
}

.card__title {
  margin: 0.5em;
  color: var(--secondary-color);
  font-family: "Roboto Bold";
}

.card__from {
  margin: 0.5em;
  color: var(--gray-color);
  font-size: 0.95em;
  font-family: "Roboto Light";
  font-style: italic;
}

@media screen and (max-width: 450px) {
  .card__image {
    height: 70px;
  }

  .card__title {
    font-size: 0.8em;
  }

  .card__from {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 350px) {
  .card__image {
    height: 60px;
  }

  .card__title {
    font-size: 0.7em;
  }
}
