.wrapper {
    height: 100vh;
    background-color: var(--background-color);
}

.loading {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading__element {
    height: 100px;
    width: 100px;
    background: linear-gradient(
        to right,
        var(--primary-color),
        var(--secondary-color)
    );
    border-radius: 5px;
}
