.about {
  margin-top: 3em;
}

.about__title {
  font-size: 1.7em;
  margin-bottom: 1em;
}

.about__title b {
  color: var(--warning-color);
}

.about__title span {
  font-family: "Roboto Bold";
}

.about__description {
  margin-top: 0.5em;
  font-size: 1.2em;
  color: var(--text-color);
  font-family: "Roboto Light";
}
