.projects {
  margin-bottom: 5em;
}

.projects__item {
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
  border-radius: 0.5em;
}

.projects__item:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}

.projects__item_info {
  padding: 2em;
  display: none;
}

.projects__item_info h1 {
  font-size: 1.3em;
  font-family: "Anton";
  color: var(--primary-color);
}

.projects__item_info p {
  margin-top: 1em;
  font-family: "Roboto Light";
}
